* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/* --------------------navbar design------------------------ */
.navbar {
  width: 100%;
  height: 7.2vh;
  border-bottom: 1px solid rgba(61, 59, 59, 0.144);
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
}
.sticky{
    position: fixed;
    background: white;  
    z-index: 100000;
}
.banner {
  width: 400px;
  height: 100%;
  /* padding: 0 0 0 25%; */
  justify-content: center;
}
.banner svg {
  cursor: pointer;
}
.nav--list {
  width: 1200px;
  height: 100%;
}
.nav--list ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.nav--list ul li {
  list-style-type: none;
}
.nav--list ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding-bottom: 22px;
  cursor: pointer;
}
.nav--list ul li a:hover {
  border-bottom: 3px solid #3c46e4;
  animation: left-to-right 0.5s ease-in-out forwards;
  transition: border-bottom 0.2s ease-in-out;
}
.nav--logs {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav--logs button {
  width: 110px;
  height: 75%;
  font-size: 1.1rem;
  border: none;
  border-radius: 7px;
  background: none;
  cursor: pointer;
}
.nav--logs .get--started{
  position: relative;
  width: 35%;
  margin: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 80ms ease-in-out 0s;
  padding: 12px;
  font-size: 16px;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
}
.content {
  width: 1300px;
  margin-right: 15%;
  margin-left: 15%;
}
/* -----------------------first section------------------------ */
.section--one {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 24px;
  overflow: hidden;
  max-width: 1142px;
}
.section--text {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 10px;
  flex: 1 1 0%;
}
.porfolio--link {
  width: 53%;
  height: 6%;
}
.porfolio--link .jump {
  font-weight: bold;
  font-size: 17px;
  color: #4452ff;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.porfolio--link .jump .emojis {
  margin-right: 5px;
}
.porfolio--link .jump:hover {
  /* padding: 3px; */
  color: rgb(72, 72, 187);
}
.section--textText h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 2%;
  margin-right: 100px;
}
.section--textText .text {
  font-size: 20px;
  font-weight: 450;
  line-height: 1.4;
  margin-right: 12%;
  margin-top: 2%;
}
.section--one--form {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 11px;
}
.section--one--form input {
  z-index: 0;
  flex: 1 1 0px;
  width: 65%;
  margin-right: 10px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: rgb(5, 15, 25);
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.section--one--form button {
  position: relative;
  width: 30%;
  margin: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 80ms ease-in-out 0s;
  padding: 24px;
  font-size: 16px;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
}
.section--one--form button:hover {
  background: rgba(18, 18, 194, 0.829);
}
.section--one a {
  font-size: 11px;
  color: #3c46e4;
}
.section--image {
  position: relative;
  width: 45%;
  height: 650px;
  margin-left: 130px;
}
.section--image .circle {
  position: absolute;
  height: 450px;
  width: 400px;
  background: #f1f5fe;
  border-radius: 50%;
  transform: translate(10%, 15%);
}
.section--image .phone {
  position: absolute;
  width: 300px;
  height: 570px;
  background: rgb(240, 238, 238);
  z-index: 1000;
  border-radius: 10%;
  transform: translate(28%, 2%);
  border: 1px solid rgba(0, 0, 0, 0.568);
  box-shadow: 7px 7px 5px grey;
}
.section--image .phone:hover {
  box-shadow: 10px 10px 7px grey;
}
/* ---------------------------second section----------------------- */
.section--two {
  width: 100%;
  height: 80vh;
  margin-bottom: 60px;
}
.section--two table {
  width: 100%;
  padding: 0px;
  background: rgb(255, 255, 255);
  border-spacing: 0px;
  border-collapse: separate;
  caption-side: top;
  border: 0.2px solid rgba(0, 0, 0, 0.767);
  border-bottom: none;
}
.section--two table th {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.253);
  padding: 16px 48px 16px 0px;
  border-bottom: none;
  text-align: left;
  font-weight: 100;
  white-space: nowrap;
  text-align: center;
}
.section--two table td {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.253);
  text-align: center;
}
.section--two table td .coin {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: row;
  /* padding: 10px; */
}
.section--two table td .coin h3 {
  padding-left: 16px;
  text-align: left;
}
.section--two table td .red {
  color: red;
}
.section--two table td .green {
  color: green;
}
.section--two table td:nth-child(5) {
  align-self: center;
  display: block;
  overflow: hidden;
}
.section--two table td button {
  font-size: 16x;
  background: #288650;
  position: relative;
  width: 70px;
  margin: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.section--two table td button:hover {
  cursor: pointer;
  width: 75px;
  height: 20px;
  font-size: 17px;
}
.section--two .table--div {
  width: 100%;
  height: 55%;
  display: flex;
}
.section--two .table--div .first {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  justify-content: center;
  z-index: 1;
  min-width: 250px;
}
.table--div .first .heading {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.3;
  color: rgb(5, 15, 25);
  font-size: 32px;
  font-weight: 500;
}
.first .para {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: rgb(5, 15, 25);
  display: block;
  margin: 0px 0px 16px;
}
.first button {
  position: relative;
  height: 50px;
  width: 150px;
  margin: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 80ms ease-in-out 0s;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
}
.first button:hover {
  background: rgba(18, 18, 194, 0.829);
}
.section--two .table--div .second {
  width: 50%;
  height: 100%;
  padding: 40px;
}
.table--div .second .list--div {
  width: 100%;
  height: 80%;
  margin-top: 7%;
  margin-left: 300px;
}
.list--div .lis {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px;
  transition: box-shadow 500ms ease 0s, opacity 500ms ease 0s,
    z-index 0ms ease-out 500ms;
  cursor: pointer;
  opacity: 0.9;
  margin-bottom: 0px;
  margin-top: 5px;
  display: flex;
  width: 100%;
  padding: 24px;
  white-space: nowrap;
  border: none;
}
.list--div .lis img {
  height: 38px;
  width: 38px;
  margin-right: 15px;
}
.list--div .lis .earn {
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: green;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}
.list--div .lis:hover {
  background: rgba(199, 194, 194, 0.048);
  margin-top: 1%;
  color: rgb(71, 71, 167);
  font-size: 1.57rem;
  border-radius: 4%;
  box-shadow: 10px 10px 7px grey;
}
.table--div .second a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #3c46e4;
}
.table--div .second a:hover {
  color: rgb(34, 34, 82);
}
/* ---------------------------------------------------third section---------------------------------------- */
.section--three {
  flex-shrink: 0;
  width: 100%;
  max-width: 1180px;
}
.section--three h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 8px;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.section--three .tex {
  text-align: center;
  margin-top: 2%;
  font-weight: lighter;
}
.section--three .main {
  width: 100%;
  height: 70%;
  margin-top: 3%;
  display: flex;
}
.section--three .main .main--one {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section--three .main .main--one .boxx {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10px;
}
.section--three .main .main--one .boxx .circ {
  margin-top: -8px;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  margin-right: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(218 225 233 / 56%) 0px 8px 16px;
}
.section--three .main .main--one .boxx .texxt {
  width: 80%;
  height: 55%;
  display: block;
}
.section--three .main .main--one .boxx .texxt h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.section--three .main .main--one .boxx .texxt p {
  line-height: 1.6;
  font-weight: lighter;
}
.section--three .main .main--one .boxx .texxt p a {
  text-decoration: none;
  color: blue;
}
.section--three .main .main--one .boxx .texxt p a:hover {
  color: rgba(0, 0, 255, 0.699);
}
.section--three .main .main--two {
  width: 60%;
  height: 550px;
}
.section--three .main .main--two img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* ------------------------section four ------------------------------- */
.section--four {
  margin-top: 100px;
  width: 100%;
  height: 70vh;
}
.section--four h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 8px;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.section--four .tex {
  text-align: center;
  margin-top: 2%;
}
.section--four .main {
  width: 100%;
  height: 70%;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.section--four .main .space {
  width: 300px;
  height: 70%;
}
.section--four .main .space .image {
  margin-top: 10%;
  margin-left: 30%;
  width: 32%;
  height: 28%;
  padding-left: 8%;
}
.section--four .main .space h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 14%;
  letter-spacing: 1px;
}
.section--four .main .space p {
  margin-top: 5%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5%;
  font-weight: lighter;
}
.section--four .main .space a {
  text-decoration: none;
  color: rgb(22, 82, 240);
  font-size: 15px;
}
.section--four .main .space a:hover {
  color: #3c47e4c0;
}
.blue {
  width: inherit;
  height: 28vh;
  background: #4452ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blue .centered {
  width: 400px;
  background: #4452ff;
  height: 70%;
  text-align: center;
  color: white;
}
.blue .centered h3 {
  margin-top: 6%;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 4%;
}
.blue .centered p {
  color: rgba(255, 255, 255, 0.664);
}
/* -------------------------------------section five ----------------------------*/
.section--five {
  height: 60vh;
}
.section--five h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 7%;
  font-weight: 500;
}
.section--five .tex {
  text-align: center;
  margin-top: 2%;
  font-size: 16px;
  color: grey;
}
.process {
  height: 60%;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.Box {
  width: 300px;
  height: 350px;
}
.Box svg {
  margin-top: 29%;
  margin-left: 40%;
}
.Box h3 {
  margin-top: 9%;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
.process .line {
  width: 160px;
  border: 1px solid black;
}

/* ----------------------------------------------------------section six------------------------------------------------------- */
.section--six {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  position: relative;
  background-color: rgb(233, 246, 255);
  height: 460px;
  width: 100%;
  overflow: hidden;
}
.section--six .word {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1 1 50%;
  width: 100%;
}
.section--six .text {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  justify-content: center;
  z-index: 1;
  min-width: 250px;
}
.section--six .text .heading {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  justify-content: center;
  z-index: 1;
  min-width: 250px;
}

.section--six .text .para {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: rgb(5, 15, 25);
  display: block;
}
.section--six .text button {
  position: relative;
  width: fit-content;
  margin-top: 10px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 80ms ease-in-out 0s;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
}
.section--six .text button:hover {
  background: rgba(18, 18, 194, 0.829);
}
.section--six .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1 1 50%;
  width: 100%;
}
.section--six .image picture {
  width: 100%;
}
.foot {
  height: 90vh;
  width: 100%;
  padding: 5% 5% 5% 5%;
  display: flex;
}
.foot .group {
  height: 100%;
  width: 400px;
}
.foot .language select {
  display: grid;
  width: 180px;
  height: 5.6%;
  border-radius: 3px;
  background: rgb(248, 248, 248);
  font-size: 16px;
  padding-left: 2%;
}
.foot .language .copyright {
  font-size: 17px;
  line-height: 1.3;
  opacity: 0.7;
  color: rgb(17, 51, 85);
  text-decoration: none;
  max-width: 200px;
  margin-top: 10px;
}
.foot .language .links {
  font-size: 16px;
  line-height: 1.3;
  opacity: 0.7;
  color: rgb(17, 51, 85);
}
.foot .language .links a {
  color: rgb(17, 51, 85);
  text-decoration: none;
  max-width: 200px;
}
.foot .language .links a:hover {
  color: rgb(27, 39, 209);
  text-decoration: underline;
}
.tab{
  height: 25vh;
  width: 100%;
  margin-right: 20%;
  background: rgb(255, 255, 255);
  z-index: 1000000;
  box-shadow: 0px 5px 10px grey;
  position:absolute;
  align-self: center;
}
.tab ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.tab ul li {
  list-style-type: none;
}
.tab ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding-bottom: 22px;
  cursor: pointer;
}
.tab ul li a:hover {
  border-bottom: 3px solid #3c46e4;
  animation: left-to-right 0.5s ease-in-out forwards;
  transition: border-bottom 0.2s ease-in-out;
}
/* ----------------------------------media queries------------------------- */

@media screen and (max-width: 1050px) {
  .hidden{
    visibility: hidden;
  }
  .content{
    width:max-content
  }
}
/* .foot .tabs{
    width: 100%;
    height: 10%;
    display: grid;
}
.foot .tabs .mini--one{
    width: 10%;
    height: 50%;
    background: #000;
}
.foot .tabs .mini--two{
    width: 100%;
    height: 50%;
    background: green;
} */
